*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 10px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* HEADER --------------------- */
.header-container{
    background-color: #18191f;
    height: 4rem;
}
.nav-container{
    display: flex;
}
.logo-container{
    width: 50vw;
    height: 11vh;
    padding: .2rem;
    z-index: 3;
}
.logo-container-ancore{
    display: flex;
}
.container-logo-marca{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -0.3rem;
}
.logo-marca{
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: .1rem;
    font-size: 1rem;
    width: 9rem;
    text-align: center;
}
.logo-cuian{
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}
.container-chek-ul{
    width: 50vw;
    height: 4rem;
    display: flex;
    flex-direction: row-reverse; 
    padding-right: 1rem;
}
#check{
    display: none;
}

.fa-solid{
    color: white;
    font-size:1.5rem;
}
.bar-btn{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;

}
.nav-container_ul{
    position: fixed;
    padding-top: 5rem;    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #b54242; 
    left: -100%;
    transition: all .5s;
    z-index: 1;
}
.franga-color{
    width: 70%;
    height: 0.1rem;
    background-color: #ffffff;
    margin: 0 2.8rem;
    border-radius: 100rem;
}
.icons{
    width: 30%;
    height: 2rem;
    margin: 1.5rem 2.8rem 0 2.8rem;
}
.fa-brands{
    color: white;
    font-size: 1.5rem;
    height: 2rem;
    width: 3rem;
}
.nav-container_ul li{
    margin: 2rem 0 2rem 3rem;
}
.nav-container_ul li a{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
}
#check:checked ~ .nav-container_ul{
    left: 0%;
}
/* para tablets */
    
/* @media only screen and (min-width: 768px){
}
     */
/* para pc */
/* 
@media only screen and (min-width: 775px){
    .fa-solid{
        display: none;
    }
    .nav-container_ul{
        position: static;
        top: .55rem;
        left: 40vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 60vw;
        background-color: black;
        transition: all 0s;
    }
    .nav-container_ul li {
        margin: 1.7rem;
    }
    .nav-container_ul li a:hover{
        border-bottom: solid .2rem white;    
        transition: all .5s;   
    }
    .logo-cuian{
        margin-left: 2.5rem;
    }
    
} */

/* ------- Inicio --------------- */
.container {
    width: 100%;
    height: 85vh;
/*     position: absolute;
 */}
.container__foto{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto__fondo {
    margin-top: 2.6rem;
    width: 86%;
    height: 85vh;
    object-fit: cover;
    box-shadow: 30px 20px 68px 1px rgb(0 0 0 / 25%);
}
.container__titulo{
    position: relative;
    display: inline;
    top: -33%;
    left: 11%;
    font-family: 'Raleway', sans-serif;    text-transform: uppercase;
    letter-spacing: .2rem;
    background-color: rgba(255, 255, 255, 0.452);
    text-align: center;
    font-size: 1.5rem;
}
